.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.add-task-button {
    font-weight: 600;
    background-color: #FFF;
    border-radius: 5px;
    border: #A9A9A9 1px solid;
    padding: 15px 30px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.main-container {
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
    border: #A9A9A9 1px solid;
}

.upper-container {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #A9A9A9 1px solid;
}

.upper-container h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.filter-button {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}

.icon {
    font-size: 16px;
}

.filter-button p {
    margin: 0 10px 0 0;
    font-size: 16px;
}

.filter-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, padding 0.4s ease, opacity 0.2s ease;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    align-items: center;
    padding: 0;
}


.filter-container label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.filter-container select,
.filter-container input[type="date"] {
  width: 100%;
  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
}

.filter-container.visible {
    max-height: 500px;
    opacity: 1;
    padding: 1.2rem 1.2rem;
}


@media (max-width: 900px) {
  .filter-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .filter-container {
    grid-template-columns: 1fr;
  }
}