.right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

header {
  background-color: #fff;
  height: 60px;
  border-top: #A9A9A9 1px solid;
  border-bottom: #A9A9A9 1px solid;
  padding: 40px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}



.icon {
  display: none;
}

main {
  padding: 20px 50px;
  background-color: #F5F5F5;
  flex: 1;
  overflow-y: auto;
}


.sidebar-wrapper {
  position: relative;
  width: 250px;
  transition: transform 0.3s ease;
}

.sidebar-wrapper:not(.open) {
  transform: translateX(-100%);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {

  .sidebar-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .right-container {
    margin-left: 0 !important;
  }

  .icon {
    display: block;
    margin-right: 20px;
    font-size: 20px;
  }

  main{
    padding: 0px;
}
}