table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #F2F2F2;
    color: #929292;
    border-bottom: 1px solid #A9A9A9;
    padding: 10px 20px;
}

tr{
    cursor: pointer;
    pointer-events: auto !important;
}